mixin NavItem(link, text)
  li.nav-item.active
    a.nav-link(href=link)= text

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="#") Navbar
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      +NavItem('/ujjwal', 'Ujjwal')
      +NavItem('/daniel', 'Daniel')
      +NavItem('/riani', 'Riani')
      +NavItem('/kabir', 'Kabir')
      +NavItem('/param', 'Param')
